# set.config(UTF-8)

[log]
logfile_name=flask_web.log

[Rabbitmq]
username=qwb
password=784512
host=127.0.0.1
port=5672

[Celery]
broker_url = 'amqp://qwb:784512@127.0.0.1:5672/test'
result_backend = 'redis://localhost:6379/2'
task_serializer = 'json'
result_serializer = 'json'
accept_content = ['json']
timezone = 'Europe/Oslo'
enable_utc = Tru

[flask]
run_ipaddr=127.0.0.1
run_port=8080
to=

[neo4j]
docker_id=neo4j
url=bolt://127.0.0.1:7687
user=neo4j
password=libra-gordon-python-episode-battery-1487


[redis]
worker_url=
